.marquee-container {
  white-space: nowrap;
  overflow: hidden;
}

.marquee-word {
  display: inline-block;
  padding-right: 30px; /* Adjust as needed for spacing between words */
  animation: marquee 5s linear infinite;
  border-bottom: none !important;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
