.page-main-container {
  background-color: #4287fc;
}

.solutions-main-container {
  padding-top: 120px;
  height: 100svh;
  margin-bottom: 0;
  background-color: #4287fc;
  z-index: 0;
  padding-bottom: 30px;
}

.solutions-eclipse {
  display: none;
}

.solutions-h1 {
  border: none !important;
  color: #1c478f !important;
  font-weight: 700 !important;
  font-size: 40px !important;
}

.solutions-center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.solutions-cartoon {
  max-width: 280px;
  height: auto;
  margin-bottom: 30px;
}

.solutions-btn {
  width: auto;
  height: auto;
  font-family: Poppins;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 14px;
  padding-bottom: 14px;

  border-radius: 50px;
  font-size: 14px;
  border: 2px solid var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}

.solutions-second-container {
  background-image: url(../../Assets/SolutionsPage/SolutionsBackgrounds/SolutionsFirstBackground.png) !important;
  background-size: 100% 100% !important;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 5%;
  padding-right: 5%;
}

.solutions-second-container p {
  color: var(--white-color);
  margin-bottom: 20px;
}

.solutions-third-container {
  background-image: url(../../Assets/SolutionsPage/SolutionsBackgrounds/SolutionsSecondBackground.png) !important;
  background-size: 100% 100% !important;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* gap: 50px; */
}

.solutions-third-container p {
  color: var(--white-color);
  margin-bottom: 20px;
}

.solutions-images {
  width: 100%;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.solutions-third-container h1 {
  border-bottom: 2px solid var(--white-color);
  width: 250px;
  color: var(--white-color);
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.solutions-forth-container {
  background-size: 100% 100% !important;
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #1c478f;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.solutions-forth-container h1 {
  border-bottom: 2px solid var(--white-color);
  width: 250px;
  color: var(--white-color);
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.solutions-forth-container p {
  color: var(--white-color);
  margin-bottom: 20px;
}
