.form-main-container {
  padding-top: 150px;
  padding-left: 5%;
  padding-right: 5%;
  color: var(--white-color);
  margin-bottom: 80px;
}

.form-main-container h1 {
  margin-bottom: 80px;
}

.form-rectangle {
  display: none;
}
