* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}

:root {
  --white-color: #ffffff;
  --main-blue: #1c478f;
}

body {
  background-color: var(--main-blue);
  font-family: Poppins;
}
