* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --main-blue: #1c478f;
}

body {
  background-color: var(--main-blue);
  font-family: Poppins;
}

/* #page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
} */
